<% layout("/layouts/boilerplate") -%>
<body>
        <div class="row ">
                <div class="col-8 offset-3">
                        <h3><b>Listing Details:</b></h3>
                </div>
                <div class="card col-6 offset-3" >
                                <img src="<%=list.image%>" class="card-img-top" alt="listing-img">
                                <div class="card-body">
                                  <p class="card-text"><b><%= list.title %></b><br>
                                        <%= list.description %><br>
                                        <%= list.location %>,
                                        <%=list.country%><br>
                                       <b> &#8377 <%= list.price.toLocaleString("en-IN") %> </b></p>
                                       <div class="row">
                                        <div class="col-4 edit-listing-btn">
                                                <a href="/listing/<%= list.id %>/edit" class="card-link btn listing-btn">Edit</a>
                                              </div>  
                                              <div class="col-2">
                                                <form method="POST" action="/listing/<%=list.id%>?_method=DELETE">
                                                        <button class="btn btn-dark delete-btn">Delete</button>
                                                </form>
                                              </div>
                                             
                                        </div>
                                
                                  
                                </div>

                                </div>
                              </div>
                              <hr>
                              <div class="col-8 offset-3 mb-3">
                                <h4>Leave a Review</h4>
                                <form method="POST" action="/listing/<%=list.id%>/reviews">
                                        <div class="mb-3">
                                                <label for="rating" class="form-label">Rating</label>
                                                <input type="range" step="25" id="rating" name="Review[rating]" class="form-range">
                                        </div>
                                        <div class="mb-3">
                                                <label for="comment" class="form-label">Comment</label>
                                                <textarea name="Review[comment]" class="form-control" id="comment" cols="30" rows="5"></textarea>
                                        </div>
                                        <button class="btn btn-outline-dark">Submit</button>
                                </form>
                         </div>
</body>
